[submodule ".hdbpp-cm"]
	path = .hdbpp-cm
	url = https://github.com/tango-controls/hdbpp-cm
	branch = master
[submodule ".hdbpp-es"]
	path = .hdbpp-es
	url = https://github.com/tango-controls/hdbpp-es
	branch = master
