[submodule ".hdbpp-cm"]
	path = .hdbpp-cm
	url = https://github.com/tango-controls-hdbpp/hdbpp-cm.git
	branch = integrated-build 
[submodule ".hdbpp-es"]
	path = .hdbpp-es
	url = https://github.com/tango-controls-hdbpp/hdbpp-cm.git
	branch = integrated-build
